.top-bar {
  display: flex;
  margin: 10px;
  gap: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
  flex: 1;
}

.input-container button {
  aspect-ratio: 1;
}

.panels {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.clean-panel {
  width: 50%;
  padding: 20px;
  overflow-y: auto;
}

.original-panel {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.original-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.error {
  color: red;
}